{% extends 'base.html' %}
{% block title %} bloghome {% endblock %}
{% block blogactive %} active {% endblock %}

{% block body %}
<div class="container my-3">
    <h2 class="my-4">BlogPost : </h2>
    {% for post in allPosts %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-4">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article By {{post.author}} ({{post.views}} views)</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content|truncatechars:400}}</p>
            <div class="my-4">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-danger">Continue reading</a>
            </div>
        </div>
        
    </div>
    {% endfor %}
</div>



{% endblock %}